
<% include partials/header %>
  <h1> add customer</h1>

 <!-- checking for errors and outputting to page -->
  <% if(errors != undefined) { %>
      <ul>
            <% errors.forEach(function(error){ %>
              <li>
                <%= error.msg %>
               </li>
            <%  }) %>
      </ul>
  <% }%>
  <form method="POST" action="/users/add">
    <label for="">First Name</label>
    <br>
    <input type="text" name="first_name">
    <br>

    <label for="">Last Name</label>
    <br>
    <input type="text" name="last_name">
    <br>

    <label for="">Email</label>
    <br>
    <input type="text" name="email">
    <br>
    <input type="submit" value="Submit">
  </form>

  <h1>
    <%= title %>
  </h1>

<!--   outputting users information-->
  <ul>
  <% users.forEach(function(user){ %>
    <li>
      <%= user.first_name %>
      <%= user.last_name %>
     </li>
  <%  }) %>
</ul>
<% include partials/footer %>
